<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pfc.gagarin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@color/black"
        android:label="@string/app_name"
        android:roundIcon="@color/black"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gagarin"
        android:usesCleartextTraffic="true">
        <activity android:name=".RoverDetailScreen" android:theme="@style/Theme.Gagarin.noBar">

        </activity>
        <activity
            android:name=".RoverScreen"
            android:theme="@style/Theme.Gagarin.noBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapaMarte"
            android:theme="@style/Theme.Gagarin.noBar" />
        <activity
            android:name=".HomeScreen"
            android:theme="@style/Theme.Gagarin.noBar">

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>